/* BASICS CONFIGURE */
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1f1f1f;
    color: #FFE300;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #FFE300;
}

figure {
    margin: 0px;
    padding: 0px;
}

/* HEADER CONFIGURE */
.header {
    width: 100vw;
    height: 90px;
    background-color: #1f1f1f;
    color: #FFE300;
}
header-title-home-anim
.header a {
    color: #FFE300
}

.header-nav {
    display: flex;
    align-items: center;
    height: 90px;
    justify-content: space-between;
}

.header-title-home {
    margin: 0px 20px;
    height: 90px;
}

.header-title-home:hover {
    animation-name: header-title-home-anim;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

@keyframes header-title-home-anim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

.header-title-home figure {
    width: 100px;
}

.header-title-home img {
    width: 100%;
}

.header-title-home a {
    display: flex;
    align-items: center;
    height: 90px;
}

.header-ul {
    display: flex;
    height: 90px;
    align-items: center;
    justify-content: center;
}

.header-ul li {
    height: 90px;
    margin: 0px 20px;
    font-size: 20px;
    font-weight: 400;
}

.header-ul li a {
    display: flex;
    align-items: center;
    height: 90px;
}

/* MAIN CONFIGURE */
.main-container {
    width: 100vw;
    height: 800px;
    background-image: url("https://i.imgur.com/vpzRzNP.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* FOOTER CONFIGURE */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 90px;
    background-color: #000000;
    color: #FFE300;
}

.footer a {
    color: #FFE300;
}
.footer-barra {
    margin: 0px 20px;
}

.footer-sntwandy-twitter-link a {
    display: flex;
    align-items: center;
}

.footer-sntwandy-twitter-link span {
    margin: 0px 5px;
}

.footer-sntwandy-twitter-link span:nth-of-type(2) {
    font-weight: 800;
}

.footer-sntwandy-website-link span:nth-of-type(2) {
    font-weight: 800;
}

.footer-sntwandy-twitter-link figure {
    width: 25px;
}

.footer-sntwandy-twitter-link img {
    width: 100%;
}