/* BASICS CONFIGURE */
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1f1f1f;
    color: #FFE300;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #FFE300;
}

figure {
    margin: 0px;
    padding: 0px;
}

/* HEADER CONFIGURE */
.header {
    width: 100vw;
    height: 90px;
    background-color: #1f1f1f;
    color: #FFE300;
}
header-title-home-anim
.header a {
    color: #FFE300
}

.header-nav {
    display: flex;
    align-items: center;
    height: 90px;
    justify-content: space-between;
}

.header-title-home {
    margin: 0px 20px;
    height: 90px;
}

.header-title-home:hover {
    animation-name: header-title-home-anim;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

@keyframes header-title-home-anim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

.header-title-home figure {
    width: 100px;
}

.header-title-home img {
    width: 100%;
}

.header-title-home a {
    display: flex;
    align-items: center;
    height: 90px;
}

.header-ul {
    display: flex;
    height: 90px;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

.header-ul li {
    height: 90px;
    margin: 0px 20px;
    font-size: 20px;
    font-weight: 400;
}

.header-ul li a {
    display: flex;
    align-items: center;
    height: 90px;
}

/* RESPONSIVE */

@media screen and (max-width: 600px) {
    .header-nav {
        display: block;
        height: 200px;
    }
    .header-title-home {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px;
    }
}

/* MAIN CONFIGURE */
.main-container {
    width: 100vw;
    height: 800px;
    background-image: url("https://i.imgur.com/vpzRzNP.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.characters-section h1 {
    text-align: center;
    font-size: 35px;
}

.character-article {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px;
}

.character-article figure {
    width: 200px;
}

.character-article img {
    width: 100%;
}

.article-content {
    display: flex;
    flex-direction: column;
}

.character-container-section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

/* RESPONSIVE */

@media screen and (max-width: 1300px ) {
    .character-container-section {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1000px ) {
    .character-container-section {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}

@media screen and (max-width: 700px ) {
    .character-container-section {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
}

@media screen and (max-width: 600px ) {
    .main {
        margin-top: 100px;
    }
}

@media screen and (max-width: 500px ) {
    .character-container-section {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
}

.about-title {
    text-align: center;
}

.about-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 18px;
    margin: 0px 20px;
    margin-bottom: 50px;
}

.about-content p {
    text-align: center;
}

.about-content span {
    text-align: center;
    font-size: 18px;
}

.about-resources {
    margin: 30px 20px;
    text-align: center;
}

.about-github {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.about-github figure {
    width: 100px;
}

.about-github img {
    width: 100%;
}

/* FOOTER CONFIGURE */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 90px;
    background-color: #000000;
    color: #FFE300;
}

.footer-error {
    position: absolute;
    bottom: 0px;
}

.footer a {
    color: #FFE300;
}
.footer-barra {
    margin: 0px 20px;
}

.footer-sntwandy-twitter-link a {
    display: flex;
    align-items: center;
}

.footer-sntwandy-twitter-link span {
    margin: 0px 5px;
}

.footer-sntwandy-twitter-link span:nth-of-type(2) {
    font-weight: 800;
}

.footer-sntwandy-website-link span:nth-of-type(2) {
    font-weight: 800;
}

.footer-sntwandy-twitter-link figure {
    width: 25px;
}

.footer-sntwandy-twitter-link img {
    width: 100%;
}

/* RESPONSIVE */

@media screen and (max-width: 500px ) {
    .footer {
        flex-direction: column;
    }
}